@font-face {
  font-family: facade;
  src: url(Facade.woff2);
}
@font-face {
  font-family: basteleur;
  src: url(Basteleur.woff2);
}
@font-face {
  font-family: compagnon;
  src: url(Compagnon.woff2);
}
@font-face {
  font-family: pilowlava;
  src: url(Pilowlava.woff2);
}
@font-face {
  font-family: avara;
  src: url(Avara.woff2);
}
@font-face {
  font-family: picnic;
  src: url(PicNic.woff2);
}
@font-face {
  font-family: ashton;
  src: url(Ashton.woff);
}
@font-face {
  font-family: mixo;
  src: url(Mixo.woff2);
}
@font-face {
  font-family: lobular;
  src: url(Lobular.woff2);
}
@font-face {
  font-family: credible;
  src: url(Credible.woff);
}
@font-face {
  font-family: isobare;
  src: url(Isobare.woff);
}
@font-face {
  font-family: jost;
  src: url(Jost.woff);
}
@font-face {
  font-family: monhugo;
  src: url(MonHugo.woff2);
}
#logo{
	position: relative;
	height: 7rem;
	margin-left: 3rem;
	top: 1rem;
}
p.sticky{
	color: white;
	position: absolute;
	font-family: jost;
	display: inline-block;
	margin: 0;
	margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1rem;
  top: 2rem;
  left: 2rem;
}
button{
	background-color: white;
	color: black;
	font-size: 1rem;
	border: none;
	margin-top: 5px;
	font-family: jost;
	border-radius: 2px;
	cursor: pointer;
}
button p{
	line-height: 1.25rem;
	margin: 0;
	padding-bottom: 0.2rem;
}
h1{
	color: white;
	font-family: jost, sans-serif;
	font-size: 7rem;
	font-weight: bold;
	text-align: center;
	margin: 0 20px 20px 20px;
	top: 0;
}
h2{
	color: white;
	font-family: jost, sans-serif;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	margin-block-end: 0;
}
h3{
	color: white;
	font-family: jost, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

a {
	color: white;
	

}

.performer a{
	font-size: 60px;
	text-decoration: none;
/*	border: 5px solid white;*/
/*	border-radius: 20px;*/
	margin: 0.75rem;
/*	padding: 10px;*/
	padding-left: 20px;
	padding-right: 20px;
	white-space: nowrap;
}

.facade{
	font-family: facade;
}
.monhugo{
	font-family: monhugo;
}
.credible{
	font-family: credible;
}
.lobular{
	font-family: lobular;
}
.isobare{
	font-family: isobare;
}
.ashton{
	font-family: ashton;
}
.basteleur{
	font-family: basteleur;
}
.compagnon{
	font-family: compagnon;
}
.pilowlava{
	font-family: pilowlava;
}
.avara{
	font-family: avara;
}
.mixo{
	font-family: mixo;
}
.picnic{
	font-family: picnic;
}

.avara{
	font-family: avara;
}
.mono{
	font-family: monospace;
}

.sans{
	font-family: sans-serif;
}

span{

	white-space: nowrap;
}

body {
	background-color: black;
/*background-image: url("https://cdn.discordapp.com/attachments/862444201735225357/1098050835059060778/aurora_discbg.png");
background: fill;
background-size: 100%;*/
/*background: linear-gradient(75deg, rgba(129,0,255,1) 0%, rgba(0,153,226,1) 44%, rgba(0,255,128,1) 100%);
background-blend-mode: color-dodge;*/
/*	align-content: center;*/
/*	display: inline-block;*/
	line-height: 4rem;
	margin: 0;

}
div{
	white-space: nowrap;
	width: fit-content;

}
.rtl{
	position: relative;
	right: 0;
}
.ltr{
	position: relative;
	left: 0;
}
#thediv{
	overflow-x: hidden;
	width: 100%;
	overflow-y: visible;
	

}
.clone1,.clone2{
	display: inline-block;
}
.static{

	text-align: center;
	display: inline-block;
	margin: auto;
	width: 100%;
}
