img{
	border-radius: 10px !important;
}
@media screen and (orientation:portrait) {
	img{
		max-width:75% !important;
		text-align: center !important;

		margin-left: 12.5% !important;
	}
}
@media screen and (orientation:landscape) {
	img{
		max-width:30em !important;
	}
}

