details.notsecret{
	list-style-type: '▶' !important;
}
details.top{
	font-size: calc(2.5vh + 2px);
}
.updatetext{
	color: red;
}
li{
	line-height: 1.5em;
}
img.figure{
	border-radius: 10px;
}
figure img{
	margin-right: 0;
}
.gallery li{
	list-style-type: '';
}


figure{
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}
figcaption{
	font-size: calc(1.25vh + 2px);
	color: lightgrey;
}
.item{
	border-radius: 10px;
	background-color: #333139;
	min-width: fit-content;
	padding: 1em 1em 1em 2em;
	margin-top: 0;
}
.nolist{
	padding-left: 1em !important;
}
body.gallerybody{
	height: fit-content;
}
details.notsecret summary{
	border-radius: 10px;
	background-color: #4B455B;
	padding:0 0.5em 0.15em 0.5em;
	margin-bottom: 10px;
	width: fit-content;
	vertical-align: middle;

	cursor: pointer;
}
.trouble[open] p{
	border-radius: 10px;
	background-color: #4B455B;
	min-width: fit-content;
	padding: 1em 1em 1em 1em;
	margin: 0;
}
.trouble *{
	
	border: 2px solid red;
}